<p><b>Name:</b> <%= @content_block.name %></p>

<p><b>Event:</b> <%= @content_block.event_name %></p>
<p><b>First Name:</b> <%= @content_block.first_name %></p>
<p><b>Last Name:</b> <%= @content_block.last_name %></p>
<p><b>Email:</b> <%= @content_block.email %></p>
<p><b>Number Of Attendees:</b> <%= @content_block.number_of_attendees %></p>
<p><b>Address1:</b> <%= @content_block.address1 %></p>
<p><b>Address2:</b> <%= @content_block.address2 %></p>
<p><b>City:</b> <%= @content_block.city %></p>
<p><b>State:</b> <%= @content_block.state %></p>
<p><b>Zip:</b> <%= @content_block.zip %></p>
